* {
	box-sizing: border-box;
	margin:0 auto;
	padding:0 auto;
}
body {
	width: 100%;	
	background-color: #a68ead;
}	
#navbar {
	width:110%;	
	float:left;
	margin:0 auto;	
	background-color: #365899;	
}			
#navbar #logo{   	
	float: left;		
    margin-left: 30px;	
    margin-top: 15px;		
    padding: 3px;	
    width: 30px;	
    height: 30px;		
}		
#buscar{	
	margin-left: 20px;	
    margin-top: 20px;	
    width: 300px;	
}
#button{	
	margin: 0 auto;	
}	
#fotoPortada {	
   margin: 0 auto;				
   width: 110%;			
   background-repeat: no-repeat;	
   background-size: all;		
   display: inline-block;			
   height: 350px;	
   padding: 0 auto;			 	
}		
#perfil img {	
     display: inline-block;		
     width:80px;		
     height:200px;		
     float: left;		
     margin: 10px 20px 5px;
     padding: 0 auto;		
     top: 200px;												
     border:outset 1px #fff;		
     position: absolute;
     z-index: 1;
}			
#perfil h1 {	
    font-weight: bolder;		
    font-size: large;	
    color: #181818;		
    text-shadow: transparent;			
    font-family: verdana;		
    margin: 5px;	
    padding: 5px; 	
    position: absolute;			
    left: 265px;
    top: 300px;	
    bottom: 8px;		
    z-index: 1;	
    text-rendering: optimizeLegibility;	    
}		
#perfil h2,h3,h4 {	
    font-size: x-small;		
    font-family: sans-serif;
    color: black;		
    font-family: helvetica;	
    margin-top: 10px;		
    margin-left: 5px;		
    padding: 1px;		   
}		
#muro {
	width:100%;
	float:right;
	display: flex;
	flex-direction: column;
}
ul {
	width:100%;
}
li {	
	display: inline;	
	float: right;		
	color: white;
	font-weight: bold;	
	padding: 5px;	
    font-family: sans-serif;	
    font-family: verdana;	
    font-size: small;		
    margin: 0 auto;		
}	
.fa{	
   color: white;	
   padding: 0 auto;
   text-decoration: none;		
   margin-right: 200px;	
   margin-top: 40px;				
   width: 10px;		
   height: 2px;		
   display: inline-block;}	

.fa :hover:not(.active) {
    background-color: #004d99;	
    opacity: 0.5;		
    width: 10px;		
    height: 2px;
}		
#muro {		
	width: 50%;	
	height: 400px;	
	margin-bottom: 10px;		
}
#muro #muroFace img {
	display: flex;	
	align-content: center;			
    margin-left: 20px;	
    margin-top: 250px;		
    padding: 3px;	
    width: 30%;	
    height: 200px;	
}	
#queonda{	
         display: block;		
         z-index: 1;	
         margin-right: 350px;	
         margin-top: 250px;			
         width: 50%;	
         height: 500px;	
         float: right;			
         padding: 15px;		
}			
li p {
	margin-left:5px;
}
#amigos {
	width:20%;	
	margin:0 5px;	
}
.thumb {
	width:80px;
	height:80px;
}