body {
	  border: solid 1px;	
	  border-radius: 16px;	
	  width: 50%;	
	  height: 500px;	
	  margin-left: 10px;	
	  background-color: tomato;	 
}	
.mainContainer {
	margin:0 auto;
	padding:10px;	
	text-align:center;
}
h1{
	font-family: "arial";	
	font-size: large;	
	font-variant: small-caps;	
	margin:10px;
}
.tittle {
	font-family: "arial";	
	font-size: medium;	
	margin:5px;	
	font-weight: bold;	
	font-stretch: semi-expanded;	
}
button, input {
	font-family: "arial";
	font-size:14px;
	padding: 5px;
}	
#button {
	margin:5px 0;
}
ul {
	margin: 0 auto;
}
li {
	width:50%;
	margin:0 auto;	
	color:black;	
	font-weight: bold;	
	font-stretch: semi-expanded;
}
@media (max-width:1024px) {
	#mainContainer {
		width:80%;
	}
}